# Archivos de Maven que no deben versionarse
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Archivos de Eclipse que no deben versionarse
/.settings
/bin
.classpath
.project
.tern-project

# Archivos de NetBeans que no deben versionarse
nb-configuration.xml
nbproject
nbactions.xml
faces-config.NavData
beans.NavData

# Archivos de Windows que no deben versionarse
thumbs.db

# Archivos de SureFire que no deben versionarse
logfile.log.*
*.log
*.log.*

# Archivos de SASS que no deben versionarse
/src/main/filters/theme/.sass-cache/