/*Style For UI clock --------------------------------------------------------------------------------------*/
.ui-clock {
  padding: 10px 20px !important;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background-color: #4db6ac;
  color: #e0f2f1;
  font-family: get-font-family('body'); 
  font-weight: lighter;
  font-size: 18px;
}