/*Style For UI LayoutContainer --------------------------------------------------------------------------------------*/
.ui-layout-container .ui-layout-unit {
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  color: #546e7a;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  font-family: get-font-family('body');
}
/*Style For UI LayoutUnit --------------------------------------------------------------------------------------*/
.ui-layout-unit .ui-layout-unit-header {
  color: #ffffff;
  padding: 8px 6px 10px 10px !important;
  font-size: 14px;
  font-family: get-font-family('body');
  background-color: #003d50;
  border-radius: 2px;
}
.ui-layout-unit .ui-layout-unit-header .ui-layout-unit-header-title {
  font-family: get-font-family('body');
}
.ui-layout-unit .ui-layout-unit-header .ui-layout-unit-header-icon .ui-icon-close {
  background-image: url("/modena/javax.faces.resource/images/delete.svg.xhtml?ln=primefaces-modena") !important;
  background-position: center !important;
  background-size: 110% !important;
  margin-top: 3px;
}
.ui-layout-unit .ui-layout-unit-header .ui-layout-unit-header-icon .ui-icon-triangle-1-n {
  background-image: url("/modena/javax.faces.resource/images/uparrow.svg.xhtml?ln=primefaces-modena") !important;
  background-position: center !important;
  background-size: 120% !important;
  margin-top: 3px;
}
.ui-layout-unit .ui-layout-unit-header .ui-layout-unit-header-icon .ui-icon-triangle-1-w {
  background-image: url("/modena/javax.faces.resource/images/left-arrow.svg.xhtml?ln=primefaces-modena") !important;
  background-position: center !important;
  background-size: 100% !important;
  margin-top: 3px;
}
.ui-layout-unit .ui-layout-unit-header .ui-layout-unit-header-icon .ui-icon-triangle-1-e {
  background-image: url("/modena/javax.faces.resource/images/right-arrow.svg.xhtml?ln=primefaces-modena") !important;
  background-position: center !important;
  background-size: 100% !important;
  margin-top: 3px;
}
.ui-layout-unit .ui-layout-unit-header .ui-layout-unit-header-icon .ui-icon-triangle-1-s {
  background-image: url("/modena/javax.faces.resource/images/downarrow.svg.xhtml?ln=primefaces-modena") !important;
  background-position: center !important;
  background-size: 120% !important;
  margin-top: 3px;
}
.ui-layout-resizer .ui-layout-toggler .ui-icon-arrow-4-diag {
  background-image: url("/modena/javax.faces.resource/images/expand-gray.svg.xhtml?ln=primefaces-modena") !important;
  background-position: center !important;
  background-size: 110% !important;
}