/*Style For UI NotificationBar --------------------------------------------------------------------------------------*/
.ui-notificationbar {
  z-index: 99999999999999;
  background-color: #ce2246;
  color: #ffffff;
  height: 44px !important;
}