/*Style For Password Panel --------------------------------------------------------------------------------------*/
.ui-password-panel {
  font-size: 14px;
  color: #546e7a;
  padding: 10px !important;
  background-color: #ffffff !important;
  font-family: get-font-family('body');
  border-radius: 2px;
  border: solid 1px #b0bec5;
}
.ui-password-panel .ui-password-meter {
  background-image: put-image-theme-url('password-meter.svg') !important;
  background-size: 100% !important;
}