/* Fluid Elements Specific Styles ============================================================================================ */

/* SelectOneMenu - SelectCheckboxMenu */
.ui-fluid .ui-selectonemenu .ui-selectonemenu-trigger,
.ui-fluid .ui-selectcheckboxmenu-trigger {
  width: 33px !important;
  height: 33px !important;
}
@media screen and (min-width: 0\0) {
  .ui-fluid .ui-selectonemenu .ui-selectonemenu-trigger {
    width: 37px !important;
    height: 100% !important;
    border-bottom: 0px none !important;
  }
}
.ui-fluid .ui-selectonemenu,
.ui-fluid .ui-selectcheckboxmenu {
	height: 33px;
    padding: 0px 33px 0px 0px !important;
}
.ui-fluid .ui-selectcheckboxmenu {
  box-sizing: border-box;
}
/* Spinner - Slider */
.ui-fluid .ui-spinner {
  box-sizing: border-box;
}
.ui-fluid .ui-slider {
  margin-top: 8px;
}
.ui-fluid .ui-spinner .ui-spinner-button .ui-icon {
  left: 0px !important;
}
/* Calandar */
.ui-fluid .ui-datepicker-trigger {
  margin: 0px 0px 0px -41px !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  min-width: 41px !important;
}
/* AutoComplete */
.ui-fluid .ui-autocomplete .ui-autocomplete-dropdown {
  right: -2px;
  height: 97%; /// Cuando de aplica la clase ui-fluid el 
}
.ui-fluid .ui-autocomplete .ui-autocomplete-input {
  padding-right: 2.5em !important;
}
/* RadioButton Checkbox */
.ui-fluid .ui-radiobutton {
  margin: 0px 8px 0px 0px !important;
}
.ui-fluid .ui-selectoneradio label {
  margin-top: -1px !important;
}
.ui-fluid .ui-chkbox .ui-chkbox-box {
  margin: 0px 7px 0px 0px;
}
.ui-fluid .ui-selectmanycheckbox label {
  margin-top: -1px !important;
}
/* SelectOneButton - SelectMenyButton */
.ui-fluid .ui-buttonset {
  box-sizing: border-box;
}
.ui-fluid .ui-buttonset.ui-buttonset-2 .ui-button,
.ui-fluid .ui-buttonset.ui-buttonset-3 .ui-button {
  border: solid 1px #fff;
  box-sizing: border-box;
  margin: 0px !important;
}
.ui-fluid .ui-selectonebutton.ui-buttonset-2,
.ui-fluid .ui-selectonebutton.ui-buttonset-3 {
  padding: 0px !important;
}
/* ButtonSet - For 5.3 compatibility */
.ui-fluid .ui-selectonebutton.ui-buttonset.ui-buttonset-3 .ui-button,
.ui-fluid .ui-selectmanybutton.ui-buttonset.ui-buttonset-3 .ui-button {
  width: 33.3%;
}
.ui-fluid .ui-selectonebutton.ui-buttonset.ui-buttonset-6 .ui-button,
.ui-fluid .ui-selectmanybutton.ui-buttonset.ui-buttonset-6 .ui-button {
  width: 16.65%;
}
@media (max-width: 640px) {
  .ui-fluid .ui-selectonebutton.ui-buttonset.ui-buttonset-3 .ui-button,
  .ui-fluid .ui-selectmanybutton.ui-buttonset.ui-buttonset-3 .ui-button,
  .ui-fluid .ui-selectonebutton.ui-buttonset.ui-buttonset-6 .ui-button,
  .ui-fluid .ui-selectmanybutton.ui-buttonset.ui-buttonset-6 .ui-button {
    width: 100%;
  }
}
/* Tree */
.ui-fluid .ui-tree {
  box-sizing: border-box;
}
/* PickList */
.ui-fluid .ui-picklist .ui-picklist-buttons-cell .ui-button .ui-icon,
.ui-picklist-responsive .ui-picklist-buttons-cell .ui-button .ui-icon {
  position: static;
  margin: 6px 0px -32px 0px;
  width: 100%;
  background-size: 18px;
}
.ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
  margin: 0.3em auto;
  max-width: 100% !important;
}
.ui-picklist.ui-picklist-responsive .ui-picklist-list {
  min-width: 0;
}
@media (max-width: 640px) {
  .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .ui-icon-arrow-1-e {
    background-image: $url-icon-downarrow-white;
  }
  .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .ui-icon-arrow-1-w {
    background-image: $url-icon-uparrow;
  }
  .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .ui-icon-arrowstop-1-e {
    background-image: $url-icon-bottomarrow;
  }
  .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .ui-icon-arrowstop-1-w {
    background-image: $url-icon-toparrow;
  }
  .ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
    max-width: 50px;
    margin-right: 0.1em;
  }
}
/* OrderList */
.ui-fluid .ui-orderlist {
  box-sizing: border-box;
}
.ui-orderlist.ui-grid-responsive .ui-orderlist-controls {
  margin-right: 0px !important;
}
.ui-fluid .ui-orderlist .ui-orderlist-controls .ui-button .ui-icon,
.ui-orderlist.ui-grid-responsive .ui-orderlist-controls .ui-button .ui-icon {
  position: static;
  margin: 6px 0px -32px 0px;
  width: 100%;
  background-size: 18px;
}
.ui-orderlist.ui-grid-responsive .ui-orderlist-controls button {
  max-width: 100% !important;
}
@media (max-width: 640px) {
  .ui-fluid .ui-orderlist .ui-orderlist-controls .ui-button,
  .ui-orderlist.ui-grid-responsive .ui-orderlist-controls .ui-button {
    max-width: 50px;
  }
}
/* Menu - Panel Menu */
.ui-fluid .ui-menu.ui-menu-toggleable li.ui-widget-header h3 {
  padding-left: 33px !important;
}
.ui-fluid .ui-menu.ui-menu-toggleable li.ui-widget-header {
  width: 100% !important;
  padding: 7px 0px;
}