/*Style For Input Switch --------------------------------------------------------------------------------------*/
.ui-inputswitch {
  border: solid 1px get-theme-color('primary-color');
  padding: 2px !important;
  color: get-theme-color('primary-color-text');
  font-size: 14px;
  background-color: get-theme-color('primary-color');
  font-family: get-font-family('body');
  height: 28px !important;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.ui-inputswitch .ui-inputswitch-on,
.ui-inputswitch .ui-inputswitch-off {
  height: 24px !important;
}
.ui-inputswitch .ui-inputswitch-off span,
.ui-inputswitch .ui-inputswitch-on span {
  margin-top: 5px;
  font-size: 15px;
}
.ui-inputswitch .ui-inputswitch-on span {
  color: get-theme-color('primary-color-text');
}
.ui-inputswitch .ui-inputswitch-off span {
  color: get-theme-color('primary-color-text');
}
.ui-inputswitch-off,
.ui-inputswitch-on {
  padding-top: 0px !important;
  font-weight: normal !important;
}
.ui-inputswitch-handle {
  height: 22px !important;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  margin-top: 2px;
  margin-left: 2px;
  border: solid 3px #ffffff !important;
  background-color: #ffffff;
  opacity: 1;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
}