/*Style For UI ProgressBar --------------------------------------------------------------------------------------*/
.ui-progressbar {
  background-color: #81d4fa;
  border-radius: 2px;
  height: 5px !important;
}
.ui-progressbar-value {
  background-color: #0288d1;
  overflow: hidden;
  margin: 0px !important;
  background-image: none!important;
  border-radius: 2px;
}
.ui-progressbar-label {
  color: #546E7A;
  font-size: 18px;
  line-height: 18px;
  font-family: get-font-family('body');
  padding-top: 10px;
}