/* Style For UI Terminal --------------------------------------------------------------------------------------*/
.ui-terminal {
  background-color: #ffffff;
  border: solid 1px #e0e0e0;
  padding: 10px !important;
  color: #546e7a;
  border-radius: 2px;
}